<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vera Cruz s.r.l.</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" href="/fonts/icons/tittle.png" type="image/png"/>
  <link rel="stylesheet" href="/data2/style.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="/plugins/iCheck/all.css">
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css">

  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
  <link rel="stylesheet" href="/dist/css/skins/skin-blue.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="/home2" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>VC</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Vera Cruz</b> s.r.l.</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Tasks Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="openPerfil">
              <!-- The user image in the navbar-->
              <img src="/fonts/icons/logo.png" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">Administrador Vera Cruz s.r.l.</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="/fonts/icons/logo.png" class="img-circle" alt="User Image">

                <p>
                  Administrador Vera Cruz s.r.l.
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body box-profile" id="llenarPerfil">
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat" id="updateButton">Editar</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Salir</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree" id="incamion">
        <li class="header">MENÚ</li>
        <li><a href="#" id="veracruz"><i class="fa fa-book"></i> <span>Vera Cruz</span></a></li>
        <li><a href="#" id="Exp"><i class="fa fa-book"></i> <span>Indicadores de Expocision</span></a></li>
        <li><a href="#" id="Int"><i class="fa fa-book"></i> <span>Indicadores Intermedios</span></a></li>
        <li><a href="#" id="Fin"><i class="fa fa-book"></i> <span>Indicadores Finales</span></a></li>
        <li><a href="#" id="control"><i class="fa fa-book"></i> <span>Control</span></a></li>


      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" id="headerDesc">
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="row" id="home">
          <!-- left column -->

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Mapa de los camiones funcionando en Monet:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">

                  <!-- date range exceso final -->
                  <div class="form-group" id="mapHome">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="mapCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Faltas ocurridas en el monitoreo de Monet de todos los camiones cada 2 minutos:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">

                  <!-- date range exceso final -->
                  <div class="form-group" id="monitoreoTab">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="monitoreoCharge"></div>

            </div>
            <!-- /.box -->
          </div>

        </div>

        <div class="row" id="editar">
          <!-- left column -->

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Editar datos del administrador:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <form id="formUpdate">
                    <div class="form-group has-feedback">
                      <input type="text" class="form-control" placeholder="nombre" id="formNombre">
                      <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <input type="text" class="form-control" placeholder="apellido" id="formApellido">
                      <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <input type="email" class="form-control" placeholder="email" id="formEmail">
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <input type="password" class="form-control" placeholder="Password antiguo" id="formPass">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <input type="password" class="form-control" placeholder="Password nuevo" id="formPass2">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <input type="password" class="form-control" placeholder="Repita el password" id="formPass3">
                      <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    </div>
                    <div class="row">
                      <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Enviar</button>
                      </div>
                      <!-- /.col -->
                    </div>
                  </form>
                </div>
                <!-- /.box-body -->

                <div id="editarCharge"></div>

            </div>
            <!-- /.box -->
          </div>

        </div>

        <div class="row" id="expocision">
          <!-- left column -->

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Tabla general de los Indicadores de Expocision:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">

                  <!-- date range exceso final -->
                  <div class="form-group" id="kmTabla">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="expoTabCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de los kilometros recorridos por camion:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="kmFecha">
                          <div class="input-group-addon">
                            <a href="#" id="kmFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="kmChart1">
                  </div>
                  <div class="form-group" id="kmChart2">
                  </div>
                  <div class="form-group" id="kmChart3">
                  </div>
                  <div class="form-group" id="kmChart4">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="kmCharge"></div>
            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de las horas de exposicion:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="horFecha">
                          <div class="input-group-addon">
                            <a href="#" id="horFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="horChart1">
                  </div>
                  <div class="form-group" id="horChart2">
                  </div>
                  <div class="form-group" id="horChart3">
                  </div>
                  <div class="form-group" id="horChart4">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="horCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de la cantidad de viajes por camion:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="viajeFecha">
                          <div class="input-group-addon">
                            <a href="#" id="viajeFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="viajeChart1">
                  </div>
                  <div class="form-group" id="viajeChart2">
                  </div>
                  <div class="form-group" id="viajeChart3">
                  </div>
                  <div class="form-group" id="viajeChart4">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="viajeCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de la cantidad de viajes por ruta:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="rutaFecha">
                          <div class="input-group-addon">
                            <a href="#" id="rutaFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="rutaChart">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="rutaCharge"></div>

            </div>
            <!-- /.box -->
          </div>

        </div>

        <div class="row" id="intermedio">
          <!-- left column -->

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Tabla general de los Indicadores intermedios excesos y horarios:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">

                  <!-- date range exceso final -->
                  <div class="form-group" id="intermedioTabla1">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="intermedioTabCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Tabla general de los Indicadores intermedios incidentes y accidentes:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">

                  <!-- date range exceso final -->
                  <div class="form-group" id="intermedioTabla2">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="intermedioTab2Charge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de los excesos de velocidad:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="exFecha">
                          <div class="input-group-addon">
                            <a href="#" id="exFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="exChart1">
                  </div>
                  <div class="form-group" id="exChart2">
                  </div>
                  <div class="form-group" id="exChart3">
                  </div>
                  <div class="form-group" id="exChart4">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="exCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de los horarios de conduccion inapropiados:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="horarioFecha">
                          <div class="input-group-addon">
                            <a href="#" id="horarioFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="horarioChart1">
                  </div>
                  <div class="form-group" id="horarioChart2">
                  </div>
                  <div class="form-group" id="horarioChart3">
                  </div>
                  <div class="form-group" id="horarioChart4">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="horarioCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de los desvios del conductor:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="desvFecha">
                          <div class="input-group-addon">
                            <a href="#" id="desvFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="desvChart1">
                  </div>
                  <div class="form-group" id="desvChart2">
                  </div>
                  <div class="form-group" id="desvChart3">
                  </div>
                  <div class="form-group" id="desvChart4">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="desvCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de los desvios del camion:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="desvCamFecha">
                          <div class="input-group-addon">
                            <a href="#" id="desvCamFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="desvCamChart1">
                  </div>
                  <div class="form-group" id="desvCamChart2">
                  </div>
                  <div class="form-group" id="desvCamChart3">
                  </div>
                  <div class="form-group" id="desvCamChart4">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="desvCamCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de problemas en las vias:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="viaFecha">
                          <div class="input-group-addon">
                            <a href="#" id="viaFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="viaChart1">
                  </div>
                  <div class="form-group" id="viaChart2">
                  </div>
                  <div class="form-group" id="viaChart3">
                  </div>
                  <div class="form-group" id="viaChart4">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="viaCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de los viajes afectados por las vias:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="afectadoFecha">
                          <div class="input-group-addon">
                            <a href="#" id="afectadoFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="afectadoChart1">
                  </div>
                  <div class="form-group" id="afectadoChart2">
                  </div>
                  <div class="form-group" id="afectadoChart3">
                  </div>
                  <div class="form-group" id="afectadoChart4">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="afectadoCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de desvios por factores externos:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="otroFecha">
                          <div class="input-group-addon">
                            <a href="#" id="otroFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="otroChart1">
                  </div>
                  <div class="form-group" id="otroChart2">
                  </div>
                  <div class="form-group" id="otroChart3">
                  </div>
                  <div class="form-group" id="otroChart4">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="otroCharge"></div>

            </div>
            <!-- /.box -->
          </div>

        </div>

        <div class="row" id="final">
          <!-- left column -->

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Tabla general de los Indicadores finales:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">

                  <!-- date range exceso final -->
                  <div class="form-group" id="finalTabla">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="finTabCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de incidentes:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="incFecha">
                          <div class="input-group-addon">
                            <a href="#" id="incFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="incChart1">
                  </div>
                  <div class="form-group" id="incChart2">
                  </div>
                  <div class="form-group" id="incChart3">
                  </div>
                  <div class="form-group" id="incChart4">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="incCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de accidentes con baja medica:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="medFecha">
                          <div class="input-group-addon">
                            <a href="#" id="medFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="medChart1">
                  </div>
                  <div class="form-group" id="medChart2">
                  </div>
                  <div class="form-group" id="medChart3">
                  </div>
                  <div class="form-group" id="medChart4">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="medCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de los accidentes con fatalidad:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="fatFecha">
                          <div class="input-group-addon">
                            <a href="#" id="fatFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="fatChart1">
                  </div>
                  <div class="form-group" id="fatChart2">
                  </div>
                  <div class="form-group" id="fatChart3">
                  </div>
                  <div class="form-group" id="fatChart4">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="fatCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de los accidentes por ruta:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">
                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="accRutaFecha">
                          <div class="input-group-addon">
                            <a href="#" id="accRutaFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                  <div class="form-group" id="accRutaChart">
                  </div>
                </div>
                <!-- /.box-body -->

                <div id="accRutaCharge"></div>

            </div>
            <!-- /.box -->
          </div>

          <div class="col-xs-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Estadisticas generales de los accidentes por kilometro recorrido:</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <!-- form start -->

                <div class="box-body">

                  <div id="accKmChart">
                  </div>

                  <div class="form-group">
                      <label>Date range:</label>

                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="accKmFecha">
                          <div class="input-group-addon">
                            <a href="#" id="accKmFechaEnv">
                              <i class="fa fa-send"></i>
                            </a>
                          </div>
                      </div>
                      <!-- /.input group -->
                  </div>
                  <!-- date range exceso final -->
                </div>
                <!-- /.box-body -->

                <div id="accKmCharge"></div>

            </div>
            <!-- /.box -->
          </div>

        </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <!--<div class="pull-right hidden-xs">
      Anything you want
    </div>-->
    <!-- Default to the left -->
    <!--<strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.-->
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="pull-right-container">
                    <span class="label label-danger pull-right">70%</span>
                  </span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>

<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="/plugins/iCheck/icheck.min.js"></script>
<script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript" src="/data/chart/core.js"></script>
<script type="text/javascript" src="/data/chart/charts.js"></script>
<script type="text/javascript" src="/data/chart/animated.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->

<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN86jpZSdHSfpwhlKVv272WTd1lBMr6bc&callback=initMap"></script>-->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3STBc-j4Homm2K_-Kd5zjeNrtL_bL75M"></script>
<script type="text/javascript" src="/javascripts/jquery.googlemap.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="/data2/even_cl.js"></script>
<script type="text/javascript" src="/data2/clean.js"></script>
<script type="text/javascript" src="/data2/init.js"></script>
<script type="text/javascript" src="/data2/tabla.js"></script>
<script type="text/javascript" src="/data2/chart.js"></script>
<script type="text/javascript" src="/data2/inicializar.js"></script>
<script type="text/javascript" src="/data2/fechaOn.js"></script>
<script type="text/javascript" src="/data2/intervalo.js"></script>
<script>
    /*var socket = io.connect('http://192.168.1.4:8000');
    socket.on('actualizar_vista_general', function (resp) {
        console.log(resp);
    });*/
    var token='<%=token%>';
    var id='<%=id%>';
    if(token==null||token==''||token=='undefined'){
      $(location).attr('href','/index.html');
    }
</script>
</body>
</html>
